body {
    margin: 0;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(#4f77c8, #243b6b);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    background: #dff7f4;
    padding: 30px 35px;
    border-radius: 18px;
    text-align: center;
    width: 420px;
}
.card h2 {
    color: #4c5bd4;
    font-family: TImes New Roman;
}
.card input {
    width: 65%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    font-family: 'Courier New', Courier, monospace;
}
.card button {
    font-family: 'Times New Roman', Times, serif;
    padding: 10px 18px;
    margin-left: 8px;
    background: #7c5cff;
    color: white;
    border: none;
    border-radius: 18px;
    cursor: pointer;
}
#tagsContainer {
    position: fixed;
    bottom: 30px;
    left: 30px;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}
.tag {
    background: #8e44ad;
    color: white;
    padding: 14px 16px;
    border-radius: 14px;
    width: 170px;
    position: relative;
}
.tag small {
    font-size: 11px;
    opacity: 0.8;
    font-family: 'Courier New', Courier, monospace;
}
.tag h3 {
    margin: 5px 0 0;
    font-size: 20px;
    font-family: comic sans ms;
}
.close {
    position: absolute;
    top: 8px;
    right: 12px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    color: white;
}
.close:hover {
    opacity: 0.7;
}

